/*body {
  background-color: #00f;
}*/

p {
  color: #f10;
}

td {
  overflow: hidden;
  width: 200px;
}

h1 {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a,
a:hover,
a:visited {
  color: #ababab;
}



.myPhoto {
  width: 300px;
  height: 450px;
  border-radius: 20px 70px;
  animation: spin 2s infinite linear;
}

.wrapper {
  width: 400px;
  margin: 0 auto;;
  background-color: #ffffff;
}

.header {
  text-align: right;
}

.header a {
  margin-left: 15px;
}

table img:hover {
  opacity: 1;
}

table img  {
  opacity: 0.7;
}

#cv {
  color: blue;
}

@keyframes spin {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
