/*body {
  background-color: #00f;
}*/

p {
  color: #f10;
}

td {
  overflow: hidden;
  width: 200px;
}

h1 {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a,
a:hover,
a:visited {
  color: #ababab;
}

.myPhoto {
  width: auto;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header {
  text-align: right;
}

.header a {
  margin-left: 15px;
}
